
@model MvcRehber1.Models.KisiModel.KisiGuncelleViewModel

@{
    ViewBag.Title = "Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .guncelle-btn{
        background-color:brown;
        border-radius:8px;
        width:140px;
        height:40px;
    }

</style>


<h2>Kişi Güncelle</h2>

                               



@*<form class="form-horizontal" method="post" action="/Kisi/Guncelle/">*@

@using (Html.BeginForm("Guncelle", "Kisi", FormMethod.Post, new { @class = "form-horizontal" }))
{


    @Html.HiddenFor(x => x.Kisi.Id)

    <div class="form-group">

        @Html.LabelFor(x => x.Kisi.Ad)
        @Html.TextBoxFor(x => x.Kisi.Ad, null, new { @class = "form-control" })

    </div>

    <div class="form-group">


        @Html.LabelFor(x => x.Kisi.Soyad)
        @Html.TextBoxFor(x => x.Kisi.Soyad, null, new { @class = "form-control" })

    </div>

    <div class="form-group">


        @Html.LabelFor(x => x.Kisi.EvTelefon)
        @Html.TextBoxFor(x => x.Kisi.EvTelefon, null, new { @class = "form-control" })

    </div>

    <div class="form-group">


        @Html.LabelFor(x => x.Kisi.CepTelefon)
        @Html.TextBoxFor(x => x.Kisi.CepTelefon, null, new { @class = "form-control" })

    </div>
    <div class="form-group">



        @Html.LabelFor(x => x.Kisi.IsTelefon)
        @Html.TextBoxFor(x => x.Kisi.IsTelefon, null, new { @class = "form-control" })

    </div>
    <div class="form-group">

        @Html.LabelFor(x => x.Kisi.Email)
        @Html.TextBoxFor(x => x.Kisi.Email, null, new { @class = "form-control" })

    </div>
    <div class="form-group">



        @Html.LabelFor(x => x.Kisi.Adres)
        @Html.TextBoxFor(x => x.Kisi.Adres, null, new { @class = @"form-control" })




    </div>

    <div class="form-group">


        @Html.LabelFor(x => x.Kisi.SehirId)

        @*@Html.DropDownListFor(x => x.Kisi.SehirId, ViewBag.Sehirler as SelectList, new { @class = "form-control" })*@

        @Html.DropDownListFor(x => x.Kisi.SehirId, new SelectList(Model.Sehirler, "Id", "SehirAdi"), new { @class = "form-control" })



    </div>
    <input type="submit" class="guncelle-btn btn-primary" value="Güncelle" />

    @*</form>*@


}
